.level-castle-div {
    height: 100%;
    width: 100%;
    background-color: green;
}

.images-container {
    position: absolute;
    height: 70%;
    aspect-ratio: 1;
    right: 5%;
    top: 5%;
}

.images-container img {
    position: absolute;
    width: 100%;
}

.castle-image {
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    clip-path: inset(10px 0 -15px 1px);
}

.path-image {
    top: 89.5%;
    right: 40%;
    z-index: 2;
}

.cabbage-cart-image {
    top: 60%;
    right: 75%;
    z-index: 3;
}