.level-castle-div {
    height: 100%;
    width: 100%;
    background-color: green;
    min-width: 1400px; /* Set your desired minimum width */
    margin: 0 auto;
}

.sky {
    height: 45%;
    width: 100%;
    background-color: skyblue;
    z-index: 0;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 98% 94%, 96% 90%, 92% 94%, 90% 90%, 86% 94%, 84% 90%, 80% 94%, 78% 90%, 74% 94%, 72% 90%, 68% 94%, 66% 90%, 62% 94%, 60% 90%, 56% 94%, 54% 90%, 50% 94%, 48% 90%, 44% 94%, 42% 90%, 38% 94%, 36% 90%, 32% 94%, 30% 90%, 26% 94%, 24% 90%, 20% 94%, 18% 90%, 14% 94%, 12% 90%, 8% 94%, 6% 90%, 2% 94%, 0 90%);

}

.castle-images-container {
    position: absolute;
    height: 70%;
    aspect-ratio: 1;
    right: 5%;
    top: 5%;
}

.castle-images-container img {
    position: absolute;
    width: 100%;
}

.castle-image {
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    clip-path: inset(10px 1px -15px 1px);
}

.path-image {
    top: 89.5%;
    right: 40%;
    z-index: 2;
}

.cabbage-cart-image {
    top: 60%;
    right: 75%;
    z-index: 3;
}

.village-images-container {
    z-index: 10;
    position: absolute;
    bottom: 12%;
    height: 30%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

.house-image {
    z-index: 1;
    height: 100%;
    position: relative;
    bottom: 12%;
}

.village-road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: grey;
}