.answer-hint-box-container {
    width: 300px;
    height: 40px;
    max-height: 300px;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: azure;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
    transition: height 0.4s ease;
}

.additional-content {
    height: 300px;
}

.answer-text-and-arrow-container {
    margin: 5px;
    height: 30px;
    min-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.answer-text-box {
    width: 75%;
    height: 100%;
    border-radius: 10px;    
    border: 1px solid darkgray;
    outline: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-style: italic;
    padding-left: 10px;
}

  
.dropdown-arrow {
    cursor: pointer;
    border: solid rgb(106, 106, 106);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.4s ease;
}

.down-arrow {
    transform: rotate(45deg);
}

.up-arrow {
    transform: rotate(-135deg);
}
  
.dropdown-section {
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color: azure;
}